/* Element general */

#Page_Reservia {
  max-width: 1440px;
  margin: auto;
}

body {
  font-family: "Raleway", sans-serif;
}

/* header */

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 25px;
}

/* lien de navigation */

header a {
  text-decoration: none;
  color: #0065fc;
  padding-left: 30px;
  padding-right: 30px;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header a:hover {
  border-top: 3px solid #0065fc;
  padding-top: 38px;
}

/* Lien Inscritpion */

.Inscription {
  font-weight: bold;
}

/* section bas */

.Filters_search {
  display: flex;
  flex-direction: column;
}

.Titre_secondaire {
  margin-bottom: 8px;
}

.Titre_secondaire h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.Titre_secondaire p {
  font-size: 13px;
  margin-top: 0px;
}

/* Barre de recherche input */

.Input {
  display: flex;
  flex-flow: row nowrap;
}

input {
  border: 1px solid rgb(242, 242, 242);
  width: 170px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: 700;
  font-size: 15px;
}

input:focus {
  outline: none;
}

/* logo Input */

.fa-map-marker-alt {
  padding: 12px;
  padding-left: 16px;
  padding-right: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
  font-size: 15px;
}

/* Bouton Input Desktop */

.blue_button {
  border: none;
  padding: 10px;
  padding-left: 14px;
  padding-right: 18px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0065fc;
  color: white;
}

.fa-search {
  visibility: hidden;
  position: absolute;
}

/* Filtres */

.Filtre {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 30px;
}

.titre_prin {
  margin: 0px;
  margin-top: 10px;
}

/* Eco */

#Eco {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 28px;
  height: 37px;
  border: 1px solid #deebff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px;
  font-size: 14px;
  border-radius: 32px;
}

.titre_fil {
  margin-top: 11px;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 15px;
}

#Eco:hover {
  background-color: #deebff;
}
/* Familial */

#Famille {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20px;
  height: 39px;
  border: 1px solid #deebff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-child {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px;
  border-radius: 32px;
}

#Famille:hover {
  background-color: #deebff;
}
/* Romantique */

#Romantique {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20px;
  height: 39px;
  border: 1px solid #deebff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-heart {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px;
  border-radius: 32px;
}

.titre_fil {
  margin-top: 11px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
}

#Romantique:hover {
  background-color: #deebff;
}
/* Animaux autorisés */

#Animaux {
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  margin-left: 20px;
  height: 39px;
  border: 1px solid #deebff;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px;
  border-radius: 32px;
}

.titre_fil {
  margin-top: 11px;
  margin-left: 10px;
  margin-right: 20px;
  font-size: 15px;
}

#Animaux:hover {
  background-color: #deebff;
}

/* Info */

.Info {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 30px;
  margin-bottom: 25px;
}

.fa-info-circle {
  color: #0065fc;
  margin-right: 10px;
  font-size: 20px;
}

/* Corps haut */

.corps_haut {
  display: flex;
}

/* Hébergements à Marseille */

.gauche {
  background-color: #f2f2f2;
  border-radius: 28px;
  min-width: 914px;
  max-width: 915px;
}

#Hébergement {
  padding-left: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.list_heb {
  display: flex;
  flex-flow: row wrap;
}

/* Carte hébergement */

.hebergement {
  margin: 0px;
  margin-left: 40px;
  margin-bottom: 35px;
  background-color: white;
  width: 250px;
  height: 210px;
  border: 1px solid #deebff;
  border-radius: 28px;
}

.section_heb {
  height: 120px;
  width: 238px;
  object-fit: cover;
  border-top-right-radius: 26px;
  border-top-left-radius: 26px;
  margin-top: 5px;
  margin-left: 6px;
}

/* Figcaption Hebergement */

.gauche a {
  text-decoration: none;
  color: black;
}

.gauche figcaption h3 {
  margin: 0px;
}

.gauche figcaption {
  padding-top: 10px;
  padding-left: 17px;
  line-height: 6px;
  font-size: 14px;
}

.stars {
  color: #0065fc;
  padding-top: 8px;
  font-size: 14px;
}

.far {
  color: gray;
}

.Afficher_plus {
  margin-top: 5px;
  margin-left: 40px;
}
/* Les plus populaires */

.populaire {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  background-color: #f2f2f2;
  border-radius: 28px;
  height: 650px;
}

.titre_pop h2 {
  margin-bottom: 0px;
}
.titre_pop {
  display: flex;
  padding-top: 10px;
  padding-left: 35px;
  padding-bottom: 19px;
}

.titre_pop i {
  padding-left: 110px;
  padding-top: 28px;
  font-size: 20px;
}

.pop {
  display: flex;
  width: 360px;
  height: 145px;
  background-color: white;
  margin-left: 35px;
  margin-bottom: 20px;
  border-radius: 15px;
  line-height: 20px;
}

.img_pop {
  width: 145px;
  height: 137px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 4px;
  padding-left: 4px;
}

/* Figcaption les plus populaires */

aside figcaption h3 {
  margin: 0px;
}

aside figcaption {
  padding-top: 18px;
  padding-left: 25px;
  font-size: 15px;
  line-height: 16px;
}

.stars_pop {
  color: #0065fc;
  padding-top: 25px;
  font-size: 14px;
}

/* Section bas */

.bas {
  display: flex;
}

#Activités {
  margin-top: 40px;
  margin-bottom: 30px;
}

.bas h4 {
  margin: 0px;
}
/* Vieux port */

.un {
  margin-left: 12px;
  margin-right: 12px;
}

.Vieux_port {
  height: 420px;
  width: 290px;
  margin: 0px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Vieux_port img {
  height: 370px;
  width: 290px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Vieux_port figcaption {
  padding-top: 10px;
  padding-left: 10px;
}

/* Fort de Pomègues */

.Fort_Pomègues {
  height: 230px;
  width: 322px;
  margin-top: 0px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Fort_Pomègues img {
  width: 322px;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Fort_Pomègues figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Îles du Frioul */

.Frioul {
  width: 322px;
  height: 160px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
  margin-top: 30px;
}

.Frioul img {
  width: 322px;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Frioul figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Parc National des Calanques */

.Calanques {
  height: 420px;
  width: 290px;
  margin: 0px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Calanques img {
  height: 370px;
  width: 290px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Calanques figcaption {
  padding-top: 10px;
  padding-left: 10px;
}

/* Notre-Dame-de-la-Garde */

.deux {
  margin-left: 55px;
}
.Notre_dame {
  height: 230px;
  width: 322px;
  margin-top: 0px;
  margin-left: 0px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Notre_dame img {
  width: 322px;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Parc Longchamp */

.Longchamp {
  width: 322px;
  height: 160px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
  margin-top: 30px;
  margin-left: 0px;
}

.Longchamp img {
  width: 322px;
  height: 110px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Longchamp figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Footer */

Footer {
  display: flex;
  margin-top: 50px;
  background-color: #f2f2f2;
  font-size: 17px;
}

Footer ul {
  padding-left: 0px;
}
/* A propos */

.A_propos {
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.A_propos h3 {
  margin-bottom: 15px;
}

.A_propos ul li {
  list-style: none;
  line-height: 26px;
}

.A_propos ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Nos hébergements */

.Heb {
  margin-left: 310px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.Heb h3 {
  margin-bottom: 15px;
}

.Heb ul li {
  list-style: none;
  line-height: 26px;
}

.Heb ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Assistance */

.Assist {
  margin-left: 330px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.Assist h3 {
  margin-bottom: 15px;
}

.Assist ul li {
  list-style: none;
  line-height: 26px;
}

.Assist ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
