* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Page + header */

.page_Reservia {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: auto;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* logo */

.logo {
  display: flex;
  padding-top: 30px;
  padding-left: 150px;
}

/* lien navigation */

header a {
  text-decoration: none;
  color: #0065fc;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-top: 40px;
  padding-right: 250px;
}

header ul li {
  padding-left: 80px;
  font-size: 16px;
}

header a:hover {
  border-top: 3px solid blue;
  padding-top: 38px;
}

.Inscription {
  font-weight: bold;
}

/* section en bas */

.Filters_search {
  margin-left: 150px;
  height: 260px;
  width: auto;
}

.Titre_secondaire {
  padding-bottom: 20px;
  line-height: 28px;
}

/* Input */

.Input {
  display: flex;
  flex-direction: row;
}

.blue_button {
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #0065fc;
  color: white;
  border: 1px black;
}

.fa-map-marker-alt {
  border: black;
  padding: 12px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #f2f2f2;
  font-size: 12px;
}
.fa-search {
  visibility: hidden;
  position: absolute;
}

input {
  border: 1px black;
  width: 170px;
  padding-left: 8px;
  padding-top: 12px;
}

input:focus {
  outline: none;
}

/* Filtres */

.titre_prin {
  padding-top: 10px;
}

/* Eco */

.Filtre {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  margin-top: 30px;
}

#Eco {
  cursor: pointer;
  display: flex;
  margin-left: 30px;
  width: 180px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-money-bill-wave {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 32px;
}

.titre_fil {
  margin-top: 9px;
  margin-left: 22px;
}

#Eco:hover {
  background-color: #deebff;
}

/* Famille */

.Filtre {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  margin-top: 20px;
}

#Famille {
  cursor: pointer;
  display: flex;
  margin-left: 30px;
  width: 150px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-child {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 32px;
}

.Filtre {
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  margin-top: 20px;
}

#Famille:hover {
  background-color: #deebff;
}
/* Romantique */

#Romantique {
  cursor: pointer;
  display: flex;
  margin-left: 30px;
  width: 170px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-heart {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 32px;
}

#Romantique:hover {
  background-color: #deebff;
}

/* Animaux */

#Animaux {
  cursor: pointer;
  display: flex;
  margin-left: 30px;
  width: 220px;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 32px;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
  border-left: none;
}

.fa-dog {
  color: #0065fc;
  background-color: #deebff;
  padding: 10px;
  border-radius: 32px;
}
#Animaux:hover {
  background-color: #deebff;
}

/* Info */

.Info {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.fa-info-circle {
  color: #0065fc;
  padding-right: 10px;
}

/* Corps haut */

.corps_haut {
  display: flex;
}

/* Section Gauche */

.gauche {
  margin-left: 150px;
  background-color: #f2f2f2;
  flex: 0.55;

  height: auto;
  border-radius: 28px;
}

#Hébergement {
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.list_heb {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.hebergement {
  background-color: white;
  width: 250px;
  height: 210px;
  margin-bottom: 35px;
  border-radius: 28px;
  border: 1px solid #deebff;
  box-shadow: 1px 1px 5px #deebff;
}

.section_heb {
  height: 120px;
  width: 237px;
  border-top-right-radius: 26px;
  border-top-left-radius: 26px;
  margin-top: 4px;
  margin-left: 5px;
}

.gauche a {
  text-decoration: none;
  color: black;
}

.gauche figcaption {
  padding-top: 5px;
  padding-left: 17px;
  line-height: 20px;
  font-size: 14px;
}

.stars {
  color: #0065fc;
  padding-top: 10px;
}

.far {
  color: gray;
}

.Afficher_plus {
  margin-top: 30px;
  margin-left: 40px;
}

/* Aside */

aside {
  flex: 0.27;
  display: flex;
  background-color: #f2f2f2;
  height: 670px;

  border-radius: 28px;
  margin-left: 40px;
  flex-direction: column;
}

.titre_pop {
  display: flex;
  padding-top: 35px;
  padding-left: 40px;
  padding-bottom: 30px;
}

.titre_pop i {
  padding-left: 110px;
  padding-top: 5px;
  font-size: 22px;
}

.pop {
  width: 360px;
  height: 145px;
  background-color: white;
  display: flex;
  margin-left: 35px;
  margin-bottom: 40px;
  border-radius: 15px;
  line-height: 25px;
}

.img_pop {
  width: 145px;
  height: 141px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-top: 4px;
  padding-left: 4px;
}

aside figcaption {
  padding-top: 15px;
  padding-left: 30px;
  font-size: 15px;
  line-height: 22px;
}

.stars_pop {
  color: #0065fc;
  padding-top: 30px;
}

/* Section bas */

.bas {
  display: flex;
  margin-left: 150px;
  width: auto;
}

#Activités {
  margin-left: 150px;
  margin-top: 40px;
  margin-bottom: 30px;
}

/* Vieux port */

.un {
  margin-left: 50px;
  margin-right: 50px;
}

.Vieux_port {
  height: 420px;
  width: 290px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Vieux_port img {
  height: 370px;
  width: 288px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Vieux_port figcaption {
  padding-top: 10px;
  padding-left: 10px;
}

/* Fort de Pomègues */

.Fort_Pomègues {
  height: 230px;
  width: 312px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Fort_Pomègues img {
  width: 310px;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Fort_Pomègues figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Îles du Frioul */

.Frioul {
  width: 312px;
  height: 160px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
  margin-top: 30px;
}

.Frioul img {
  width: 310px;
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Frioul figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Parc National des Calanques */

.Calanques {
  height: 420px;
  width: 290px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Calanques img {
  height: 370px;
  width: 288px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Calanques figcaption {
  padding-top: 10px;
  padding-left: 10px;
}

/* Notre-Dame-de-la-Garde */

.deux {
  margin-left: 50px;
}
.Notre_dame {
  height: 230px;
  width: 312px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
}

.Notre_dame img {
  width: 310px;
  height: 180px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Parc Longchamp */

.Longchamp {
  width: 312px;
  height: 160px;
  border: 1px solid #deebff;
  border-radius: 22px;
  box-shadow: 1px 1px 5px #deebff;
  margin-top: 30px;
}

.Longchamp img {
  width: 310px;
  height: 110px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.Longchamp figcaption {
  padding-top: 10px;
  padding-left: 15px;
}

/* Footer */

Footer {
  width: 100%;
  display: flex;
  margin-top: 50px;
  background-color: #f2f2f2;
}

/* A propos */

.A_propos {
  margin-left: 150px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.A_propos h3 {
  margin-bottom: 15px;
}

.A_propos ul li {
  list-style: none;
  line-height: 26px;
}

.A_propos ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Nos hébergements */

.Heb {
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.Heb h3 {
  margin-bottom: 15px;
}

.Heb ul li {
  list-style: none;
  line-height: 26px;
}

.Heb ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Assistance */

.Assist {
  margin-left: 250px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.Assist h3 {
  margin-bottom: 15px;
}

.Assist ul li {
  list-style: none;
  line-height: 26px;
}

.Assist ul li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
