@media screen and (min-width: 1032px) and (max-width: 1395px) {
  #Page_Reservia {
    margin-left: 20px;
    overflow-x: hidden;
  }

  /* Hébergement + Les plus populaires */

  .corps_haut {
    display: flex;
    flex-flow: column-reverse;
  }

  /* Les plus populaires */

  .populaire {
    max-width: 550px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .pop {
    min-width: 460px;
    max-width: 470px;
  }

  /* Hébergement*/
  .gauche {
    margin-left: auto;
    margin-right: auto;
  }
  /* Activités */

  .bas {
    display: flex;
    flex-flow: row wrap;
    max-width: 1099px;
    margin-left: auto;
    margin-right: auto;
  }

  #Activités {
    margin-left: 10px;
  }
  /* Vieux port */

  .Vieux_port {
    width: 220px;
    height: 400px;
  }

  .Vieux_port img {
    width: 220px;
    height: 352px;
  }

  /* Fort Pomègues */

  .Fort_Pomègues {
    width: 240px;
    height: 210px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .Fort_Pomègues img {
    width: 240px;
    height: 165px;
  }

  /* Iles du Frioul */

  .Frioul {
    width: 240px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .Frioul img {
    width: 240px;
  }

  /* Parc National */

  .Calanques {
    width: 220px;
    height: 410px;
  }

  .Calanques img {
    width: 220px;
    height: 352px;
  }

  /* Notre Dame */

  .Notre_dame {
    width: 240px;
    height: 210px;
    margin-right: 0px;
    margin-left: 5px;
  }

  .Notre_dame img {
    width: 240px;
    height: 165px;
  }

  /* Longchamps */

  .Longchamp {
    width: 250px;
    margin-right: 0px;
    margin-left: 5px;
  }

  .Longchamp img {
    width: 250px;
  }

  .deux {
    margin-left: 5px;
  }

  /* Footer */

  .A_propos {
    margin-left: 30px;
  }

  .Heb {
    margin-left: 150px;
  }

  .Assist {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1031px) and (min-width: 760px) {
  #Page_Reservia {
    overflow-x: hidden;
    margin-left: 2px;
  }

  .corps_haut {
    display: flex;
    flex-flow: column-reverse;
  }

  /* Filtres */

  .Filtre {
    display: flex;
    flex-flow: row wrap;
    max-width: 822px;
  }

  #Animaux {
    margin-left: 100px;
    margin-top: 10px;
  }

  /* Les plus populaires */

  .populaire {
    margin-left: 0px;
    max-width: 440px;
    margin-bottom: 20px;
  }

  /* Hébergements */

  .hebergement {
    margin-left: 0px;
  }

  /*  Activités */

  .bas {
    display: flex;
    flex-flow: row wrap;
    max-width: 990px;
  }

  .deux {
    margin-left: 53px;
  }

  /* Footer */

  .A_propos {
    margin-left: 30px;
    font-size: 14px;
  }

  .Heb {
    margin-left: 80px;
    font-size: 14px;
  }

  .Assist {
    margin-left: 100px;
    font-size: 14px;
  }
}

@media screen and (max-width: 759px) and (min-width: 550px) {
  #Page_Reservia {
    overflow-x: hidden;
    margin-left: 5px;
  }

  /* Filtres */

  .Filtre {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
  }

  /* Hebergement + populaire */

  .corps_haut {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Les plus populaires */

  .populaire {
    margin-left: 0px;
    max-width: 450px;
    margin-bottom: 20px;
  }

  /* Hebergement */

  .list_heb {
    display: flex;
    flex-direction: row;
    max-height: 800px;
    max-width: 700px;
  }

  .hebergement {
    margin-left: 10px;
  }

  /* Activités */

  #Activités {
    margin-left: 10px;
  }

  .bas {
    display: flex;
    flex-flow: row wrap;
  }
  .bas figure {
    margin-left: 5px;
    margin-right: 0px;
  }

  .un {
    margin-left: 35px;
    margin-right: 0px;
  }

  .deux {
    margin-left: 35px;
    margin-right: 0px;
  }

  /* Vieux port */

  .Vieux_port {
    height: 380px;
    width: 240px;
  }

  .Vieux_port img {
    height: 330px;
    width: 240px;
  }

  /* Fort de Pomègues */

  .Fort_Pomègues {
    height: 195px;
    width: 228px;
  }

  .Fort_Pomègues img {
    height: 150px;
    width: 228px;
  }

  /* Iles du Frioul */

  .Frioul {
    width: 228px;
    height: 155px;
  }

  .Frioul img {
    width: 228px;
  }

  /* Parc National des Calanques */

  .Calanques {
    height: 380px;
    width: 240px;
  }

  .Calanques img {
    height: 330px;
    width: 240px;
  }

  /* Notre-Dame-de-la-Garde */

  .Notre_dame {
    height: 195px;
    width: 228px;
    margin-right: 0px;
  }

  .Notre_dame img {
    height: 150px;
    width: 228px;
  }

  /* Parc Longchamp */

  .Longchamp {
    width: 228px;
    height: 155px;
  }

  .Longchamp img {
    width: 228px;
  }

  /* Footer */

  .A_propos {
    margin-left: 5px;
    font-size: 14px;
  }

  .Heb {
    margin-left: 50px;
    font-size: 14px;
  }

  .Assist {
    margin-left: 50px;
    font-size: 14px;
  }
}
