@media screen and (min-width: 1109px) and (max-width: 1395px) {
  #Page_Reservia {
    margin-left: 20px;
    overflow-x: hidden;
  }

  /* Hébergement + Les plus populaires */

  .corps_haut {
    display: flex;
    flex-flow: column-reverse;
  }

  /* Les plus populaires */

  .titre_pop {
    height: 60px;
    width: 100%;
    padding-bottom: 0px;
  }

  .titre_pop i {
    padding-left: 50px;
    padding-top: 28px;
  }

  .populaire {
    max-width: 98%;
    height: 300px;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin: 0px;
  }

  .pop {
    min-width: 10%;
    max-width: 30%;
    height: 180px;
    margin-left: 25px;
    margin-right: 5px;
  }

  .img_pop {
    height: 173px;
  }
  .pop figcaption {
    font-size: 15px;
    line-height: 15px;
  }

  .stars_pop {
    padding-top: 5px;
  }

  /* Hébergement*/
  .gauche {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 930px;
  }
  /* Activités */

  .bas {
    display: flex;
    flex-flow: row wrap;
    max-width: 1099px;
  }

  #Activités {
    margin-left: 10px;
  }
  /* Vieux port */

  .Vieux_port {
    width: 260px;
    height: 400px;
  }

  .Vieux_port img {
    width: 260px;
    height: 352px;
  }

  /* Fort Pomègues */

  .Fort_Pomègues {
    width: 250px;
    height: 210px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .Fort_Pomègues img {
    width: 250px;
    height: 165px;
  }

  /* Iles du Frioul */

  .Frioul {
    width: 250px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .Frioul img {
    width: 250px;
  }

  /* Parc National */

  .Calanques {
    width: 260px;
    height: 410px;
  }

  .Calanques img {
    width: 260px;
    height: 352px;
  }

  /* Notre Dame */

  .Notre_dame {
    width: 240px;
    height: 210px;
    margin-right: 0px;
    margin-left: 5px;
  }

  .Notre_dame img {
    width: 240px;
    height: 165px;
  }

  /* Longchamps */

  .Longchamp {
    width: 250px;
    margin-right: 0px;
    margin-left: 5px;
  }

  .Longchamp img {
    width: 250px;
  }

  .deux {
    margin-left: 5px;
  }

  /* Footer */

  .A_propos {
    margin-left: 30px;
  }

  .Heb {
    margin-left: 150px;
  }

  .Assist {
    margin-left: 150px;
  }
}

@media screen and (max-width: 1108px) and (min-width: 810px) {
  #Page_Reservia {
    overflow-x: hidden;
    margin-left: 2px;
  }

  .corps_haut {
    display: flex;
    flex-flow: column-reverse;
  }

  /* Filtres */

  .Filtre {
    display: flex;
    flex-flow: row wrap;
    max-width: 822px;
  }

  #Animaux {
    margin-left: 100px;
    margin-top: 10px;
  }

  /* Les plus populaires */

  .titre_pop i {
    padding-left: 50px;
  }

  .populaire {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 20px;
  }

  .pop {
    width: 89%;
  }

  /* Hébergements */

  .gauche {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 860px;
  }

  .list_heb {
    display: flex;
    flex-flow: row wrap;
  }

  .hebergement {
    margin-left: 30px;
    width: 330px;
  }

  .section_heb {
    width: 318px;
  }

  /*  Activités */

  .bas {
    display: flex;
    flex-flow: row wrap;
    max-width: 990px;
    margin-left: 60px;
  }

  .deux {
    margin-left: 53px;
  }

  /* Footer */

  .A_propos {
    margin-left: 30px;
    font-size: 14px;
  }

  .Heb {
    margin-left: 80px;
    font-size: 14px;
  }

  .Assist {
    margin-left: 100px;
    font-size: 14px;
  }
}

@media screen and (max-width: 809px) and (min-width: 550px) {
  #Page_Reservia {
    overflow-x: hidden;
    margin-left: 5px;
  }

  /* Filtres */

  .Filtre {
    display: flex;
    flex-flow: row wrap;
    max-width: 600px;
  }

  #Animaux {
    margin-left: 100px;
  }

  /* Hebergement + populaire */

  .corps_haut {
    display: flex;
    flex-direction: column-reverse;
  }

  /* Les plus populaires */

  .titre_pop i {
    padding-left: 50px;
  }

  .populaire {
    margin-right: auto;
    margin-left: auto;
    width: 95%;
    margin-bottom: 20px;
  }

  .pop {
    width: 91%;
    margin-left: 15px;
  }

  /* Hebergement */

  .gauche {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    min-width: 530px;
  }

  .list_heb {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 530px;
  }

  .hebergement {
    margin-left: 20px;
    margin: Opx;
    width: 80%;
  }

  .section_heb {
    width: 98%;
  }

  .Afficher_plus {
    margin-top: 0px;
  }
  /* Activités */

  #Activités {
    margin-left: 10px;
  }

  .bas {
    display: flex;
    flex-flow: row wrap;
    width: 700px;
  }
  .bas figure {
    margin-left: 10px;
    margin-right: 0px;
  }

  .un {
    margin-left: 30px;
    margin-right: 10px;
  }

  .deux {
    margin-left: 30px;
    margin-right: 0px;
  }

  /* Vieux port */

  .Vieux_port {
    height: 380px;
    width: 240px;
  }

  .Vieux_port img {
    height: 330px;
    width: 240px;
  }

  /* Fort de Pomègues */

  .Fort_Pomègues {
    height: 195px;
    width: 228px;
  }

  .Fort_Pomègues img {
    height: 150px;
    width: 228px;
  }

  /* Iles du Frioul */

  .Frioul {
    width: 228px;
    height: 155px;
  }

  .Frioul img {
    width: 228px;
  }

  /* Parc National des Calanques */

  .Calanques {
    height: 380px;
    width: 240px;
  }

  .Calanques img {
    height: 330px;
    width: 240px;
  }

  /* Notre-Dame-de-la-Garde */

  .Notre_dame {
    height: 195px;
    width: 228px;
    margin-right: 0px;
  }

  .Notre_dame img {
    height: 150px;
    width: 228px;
  }

  /* Parc Longchamp */

  .Longchamp {
    width: 228px;
    height: 155px;
  }

  .Longchamp img {
    width: 228px;
  }

  /* Footer */

  .A_propos {
    margin-left: 5px;
    font-size: 14px;
  }

  .Heb {
    margin-left: 50px;
    font-size: 14px;
  }

  .Assist {
    margin-left: 50px;
    font-size: 14px;
  }
}

@media screen and (min-width: 550px) and (max-width: 608px) {
  #Animaux {
    margin-left: 20px;
  }

  #Romantique {
    margin-left: 100px;
  }
}

@media screen and (max-width: 1107px) and (min-width: 926px) {
  #Activités {
    margin-left: 30px;
  }

  .Vieux_port {
    width: 300px;
  }

  .Vieux_port img {
    width: 300px;
  }

  .Calanques {
    width: 300px;
  }

  .Calanques img {
    width: 300px;
  }

  .Fort_Pomègues {
    width: 440px;
  }

  .Fort_Pomègues IMG {
    width: 440px;
  }

  .Frioul {
    width: 440px;
  }

  .Frioul img {
    width: 440px;
  }

  .Notre_dame {
    width: 440px;
  }

  .Notre_dame img {
    width: 440px;
  }

  .Longchamp {
    width: 440px;
  }
  .Longchamp img {
    width: 440px;
  }
}
