.page_Reservia {
  width: auto;
  height: 3180px;
  overflow-x: hidden;
}

/* Header + nav  */

.logo {
  padding-left: 10px;
}

nav ul {
  padding-left: 130px;
}

nav ul li {
  margin-left: 10px;
}

/* Input */

input {
  width: 200px;
}

/* Filtres */

.Filtre {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 800px;
}

#Eco {
  height: 43px;
}

#Famille {
  height: 43px;
}

#Romantique {
  height: 43px;
}

#Animaux {
  margin-top: 10px;
  margin-left: 78px;
}

.Filters_search {
  margin-left: 10px;
}

/* Section hébergement + populaire */

.corps_haut {
  display: flex;
  flex-flow: column-reverse;
  margin-top: 40px;
}

.gauche {
  margin-left: 0px;
  margin-top: 20px;
  display: flex;
  width: 48%;
  flex-flow: row wrap;
}

.gauche figure {
  width: 240px;
  height: 210px;
}

.section_heb {
  width: 227px;
  height: 120px;
}

.Afficher_plus {
  padding-bottom: 20px;
}
aside {
  margin-top: 20px;
  width: 450px;
  margin-left: 0px;
}

/* Activités Marseille */

#Activités {
  margin-left: 40px;
}

.bas {
  display: flex;
  flex-flow: row wrap;
  margin-left: 50px;
}

.Calanques {
  margin-top: 0px;
}

.un {
  margin-bottom: 90px;
  margin-left: 50px;
}

.deux {
  margin-left: 50px;
}
/* Footer */

Footer {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.A_propos {
  margin-left: 0px;
}

.Heb {
  margin-left: 0px;
}

.Assist {
  margin-left: 0px;
}
