.page_Reservia {
  width: auto;
  margin: auto;
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
}
/* logo */

.logo {
  padding-left: 18px;
}

header {
  display: flex;
  flex-flow: row wrap;
  width: auto;
}

header ul li {
  padding-left: 0px;
}

header ul {
  border-bottom: 2px solid #deebff;
  padding-bottom: 10px;
  padding-right: 80px;
  padding-left: 0px;
}

header a:hover {
  border-top: none;
  border-bottom: 3px solid blue;
  padding-bottom: 10px;
}

#Inscription a:hover {
  border: none;
}

#Inscription {
  position: absolute;
  top: 0px;
  right: 0px;
  padding-top: 45px;
  padding-right: 0px;
}

.Hébergement a {
  padding-left: 38px;
  padding-right: 50px;
}

.Activités a {
  padding-right: 50px;
  padding-left: 65px;
}

/* Section en bas */

/* Input */

input {
  width: 250px;
  font-weight: bold;
  padding-top: 16px;
  padding-left: 20px;
  font-size: 19px;
}

.fa-map-marker-alt {
  font-size: 18px;
  padding: 14px;
}

.Filters_search {
  margin-left: 0px;
  width: 350px;
  font-size: 20px;
  margin-left: 10px;
}

.Filters_search p {
  font-size: 16px;
  padding-top: 5px;
}

.blue_button {
  padding-top: 10px;
  padding-bottom: 28px;
  padding-right: 31px;
  padding-left: 13px;
  border-radius: 10px;
  cursor: pointer;
}

.blue_button span {
  visibility: hidden;
  position: absolute;
}

.fa-search {
  visibility: visible;
  font-size: 18px;
  margin-top: 0px;
}

/* Filtre */

.Filtre {
  display: flex;
  width: 425px;
  flex-direction: column;
  padding-top: 10px;
}

#Eco {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 20px;
  width: 200px;
  height: 55px;
  border: 2px solid #deebff;
}

#Famille {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 0px;
  width: 155px;
  height: 55px;
  border: 2px solid #deebff;
  position: absolute;
  top: 414px;
  left: 215px;
}

#Romantique {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 0px;
  width: 200px;
  height: 55px;
  border: 2px solid #deebff;
}

#Animaux {
  margin-bottom: 10px;
  margin-left: 0px;
  margin-top: 0px;
  width: 260px;
  height: 55px;
  border: 2px solid #deebff;
}

.titre_prin {
  display: block;
}

#Eco h4 {
  font-size: 20px;
  margin-left: 6px;
  margin-top: 14px;
}

#Famille h4 {
  margin-left: 8px;
  margin-top: 14px;
  font-size: 20px;
}

#Romantique h4 {
  font-size: 20px;
  margin-left: 8px;
  margin-top: 14px;
}

#Animaux h4 {
  font-size: 20px;
  margin-left: 8px;
  margin-top: 14px;
}

.fa-child {
  font-size: 22px;
  padding: 15px;
  padding-right: 17px;
}

.fa-money-bill-wave {
  font-size: 22px;
  padding: 15px;
  padding-right: 14px;
}

.fa-heart {
  font-size: 22px;
  padding: 15px;
  padding-right: 16px;
}

.fa-dog {
  font-size: 22px;
  padding: 15px;
  padding-right: 14px;
}

/* Info */

.Info {
  width: 400px;
  font-size: 18px;
}
/* Aside */

.titre_pop {
  padding-left: 18px;
}

.titre_pop h2 {
  padding-top: 4px;
}

.titre_pop i {
  font-size: 25px;
  position: absolute;
  left: 215px;
}
aside {
  margin-left: 0px;
  border-radius: 0px;
  width: 380px;
}

.pop {
  margin-left: 10px;
  margin-bottom: 10px;
  width: 355px;
}

.img_pop {
  width: 140px;
}

.populaire {
  margin-bottom: 30px;
}
aside figcaption {
  font-size: 16px;
  padding-left: 22px;
}

aside figcaption p {
  margin-top: 8px;
}

.stars_pop {
  font-size: 12px;
  padding-top: 26px;
}

/* Section gauche */

.corps_haut {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 300px;
  width: 400px;
}
.gauche {
  background-color: white;
  margin-top: 250px;
  margin-left: 0px;
}

#Hébergement {
  padding-left: 15px;
}

.gauche {
  margin-top: 10px;
}

.list_heb {
  display: flex;
  flex-direction: column;
}

.hebergement {
  width: 355px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.section_heb {
  width: 345px;
  padding-right: 2px;
  padding-top: 1px;
}

/* Section bas */

#Activités {
  margin-left: 10px;
}

.bas {
  display: block;
  flex-direction: column;
  margin-left: 10px;
}

.bas figure {
  width: 355px;
  height: 170px;
  margin-top: 10px;
}

.bas figure img {
  width: 353px;
  height: 120px;
}

.un {
  margin-left: 0px;
}

.deux {
  margin-left: 0px;
}

/* Footer */

Footer {
  width: auto;
  display: flex;
  flex-direction: column;
}

/* A propos */

.A_propos {
  margin-left: 18px;
  margin-top: 40px;
}

.A_propos ul li {
  line-height: 30px;
}

/* Nos hébergements */

.Heb {
  margin-left: 18px;
  margin-top: 0px;
}

.Heb ul li {
  line-height: 30px;
}

/* Assistance */

.Assist {
  margin-left: 18px;
  margin-top: 0px;
}

.Assist ul li {
  line-height: 30px;
}
